# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Model artifacts
*.pkl
*.joblib
!backend/Model/pipeline.joblib

# Node modules
node_modules/

# Build outputs
.next/
out/

# Env files
.env
.env.*